@font-face {
    font-family: 'IA Writer';
    src: url('/assets/type/iAWriter.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

:root {
    --gap: 2rem;
    --font: system-ui, sans-serif;
    --body-font-size: clamp(1.115rem,3vw,1.25rem);
    --line-height: 1.5;
    --primary-color: #161718;
    --highlight-color: #009700;
    --background-color: #FBFAF7;
}


@media(prefers-color-scheme:dark) {
    :root {
    --primary-color: #D3CEC1;
    --highlight-color: #62C262;
    --background-color: #161718;
    }
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    background: none;
    overscroll-behavior: none;
}

* + * {
    margin-block-start: var(--gap);
}

.margins-off * {
    margin-block-start: 0;
}

html {
    font-size: 16px;
    -webkit-tap-highlight-color: transparent;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    min-height: 100dvh;
    margin: unset;
    padding: clamp(2rem,6vw,4rem) clamp(1rem,3vw,10rem);
    font-family: var(--font);
    font-size: var(--body-font-size);
    font-weight: 400;
    font-style: normal;
    line-height: var(--line-height);
    color: var(--primary-color);
    background-color: var(--background-color);
}

.acme-all-purpose-wrapper {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    text-align: center;
}

.message-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap);
    max-width: fit-content;
    margin: calc(var(--gap) * 1.5) auto 0;
    font-size: var(--body-font-size);
}

.message-text {
    padding: .15rem 1rem;
    border-radius: .25rem;
    color: var(--background-color);
    background: var(--highlight-color)
}

.datetime-text {
    font-family: 'IA Writer';
}

h1 {
    font-size: clamp(1.3rem,4vw,3rem);
    font-weight: bold;
    line-height: 1.2;
}