:root {
    --gap: 2rem;
    --body-font-size: clamp(.9rem,4.2vw,1.25rem);
    --line-height: 1.5;
    --primary-color: #161718;
    --highlight-color: #009700;
    --link-color: #8D8C8C;
    --background-color: #FBFAF7;
}

@media(prefers-color-scheme:dark) {
    :root {
    --primary-color: #D3CEC1;
    --highlight-color: #62C262;
    --link-color: #8D8C8C;
    --background-color: #161718;
    }
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    background: none;
    overscroll-behavior: none;
}

* + * {
    margin-block-start: var(--gap);
}

.margins-off > * {
    margin-block-start: 0;
}

html {
    font-size: 16px;
    text-size-adjust:none;
    -webkit-text-size-adjust:none;
    -webkit-tap-highlight-color: transparent;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    min-height: 100dvh;
    margin: unset;
    padding: clamp(2rem,6vw,4rem) clamp(1rem,3vw,10rem);
    font-family: system-ui, sans-serif;
    font-size: var(--body-font-size);
    font-weight: 400;
    font-style: normal;
    line-height: var(--line-height);
    text-align: center;
    color: var(--primary-color);
    background-color: var(--background-color);
}

.message-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: var(--gap);
    max-width: fit-content;
    margin: calc(var(--gap) * 1.5) auto 0;
    font-size: var(--body-font-size);
}

.message-text {
    padding: .15rem 1rem;
    border-radius: .25rem;
    color: var(--background-color);
    background: var(--highlight-color)
}

.datetime-text {
    font-family: monospace;
}

h1 {
    font-size: clamp(1rem,5vw,3rem);
    font-weight: bold;
    line-height: 1.2;
}

.green {
    color: var(--highlight-color);
}

a {
    color: var(--primary-color);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--link-color);
    text-underline-offset: 2px;
    text-decoration-skip-ink: all;
    pointer-events: auto;
    cursor: pointer;
    transition: background-color .3s ease;
}

@media (hover:hover) and (pointer:fine) {
    a:hover {
        opacity: .6;
    }
}
