
:root {
    --small-gap: .5rem;
    --gap: calc(2rem + 1vw);
    --base: calc(1.13rem + .4vw);
    --text-padding: .75rem 1rem;
    --primary: #161718;
    --highlight: #28A745;
    --accent: #606060;
    --border: rgba(0,0,0,0.125);
    --shadow: rgba(0,0,0,0.05);
    --background: #F6F8FA;
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    background: none;
    overscroll-behavior: none;
}

html {
    font-size: 16px;
    text-size-adjust:none;
    -webkit-text-size-adjust:none;
    -webkit-tap-highlight-color: transparent;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: center;
    min-height: 100vh;
    min-height: 100dvh;
    font-family: system-ui, sans-serif;
    font-size: calc(var(--base) * .85);
    font-weight: 400;
    font-style: normal;
    line-height: 1.5;
    color: var(--primary);
    background-color: var(--background);
}

.header {
    max-width: 100%;
    height: auto;
}

@media (max-width: 768px) {
    .header.desktop {
        display: none;
    }
}

@media (min-width: 769px) {
    .header.mobile {
        display: none;
    }
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 73rem;
    margin: 0 auto;
    padding: 0 1.25rem 1.5rem;
}

main > div + div {
    margin-block-start: var(--gap); 
}

.heading + .text {
    margin-block-start: var(--small-gap); 
}

.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex.start {
    justify-content: flex-start;
}

h1 {
    font-size: var(--base);
    font-weight: bold;
    line-height: 1.2;
}

.status-bar {
    width: 100%;
    padding: .5rem 1rem;
    margin-block-start: -1.5rem;
    border-radius: .25rem;
    border: 1px solid var(--border);
    box-shadow: 0 0.25rem 0.75rem  var(--shadow);
    font-size: calc(var(--base) * .9);
    color: white;
    background: var(--highlight);
}

/* 404 */
.status-bar.short {
    max-width: max-content;
}

.status-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 100%;
    margin-block-start: calc(var(--gap) * .75);
    border: .5px solid var(--border);
    border-radius: .25rem;
    box-shadow: 0 0.25rem 0.75rem var(--shadow);
}

@media (max-width: 768px) {
    .status-bar {
        margin-block-start: unset;
    }

    .status-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .status-container {
        grid-template-columns: 1fr;
    }
}

.col {
    padding: var(--text-padding);
    border: .5px solid var(--border);
}

.heading {
    font-weight: bold;
}

.text {
    display: inline-block;
    margin-block-start: .5rem;
    max-width: 47ch;
    font-weight: normal;
    color: var(--accent);
}

.micro {
    margin-block-start: 1rem;
    font-size: calc(var(--base) * .75);
}

.check {
    width: auto;
    height: calc(12px + .35vw);
    margin-right: 4px;
}

.circle-check {
    width: auto;
    height: calc(16px + .15vw);
}

.incident-report {
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    border: .5px solid var(--border);
    border-radius: .25rem;
    box-shadow: 0 0.25rem 0.75rem var(--shadow);
    color: var(--primary);
    background: var(--background);
}

.incident-report .col:first-of-type {
    flex: 1 1 57%;
}

.incident-report .col:last-of-type {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 43%;
    min-height: 4.5rem;
}

@media (max-width: 768px) {
    .incident-report .col:first-of-type,
    .incident-report .col:last-of-type {
        flex: 1 1 100%;
    }
}

.incident-report svg {
    height: calc(12px + .5vw);
    margin-bottom: -1px;
    margin-right: 6px;
    cursor: pointer;
}

.tooltip {
    display: flex;
    align-items: center;
    position: relative;
}

.tooltip-inner {
    position: relative;
    display: inline-block;
}

.tooltip button {
    margin-left: 6px;
    cursor: pointer;
}

.tooltip svg {
    height: calc(10.5px + .5vw);
    margin-bottom: -1px;
}

.tooltip-content {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    padding: .25rem .75rem;
    z-index: 10;
    border-radius: .25rem;
    background-color: var(--primary);
    color: var(--background);
    font-size: calc(var(--base) * .65);
    white-space: nowrap;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s, visibility 0.3s;
}

.tooltip-content::after {
    position: absolute;
    top: 0%;
    left: calc(50% - 2px);
    transform: translateY(-100%);
    border: 4px solid transparent;
    border-bottom-color: var(--primary);
    content: "";
}

.tooltip-trigger:hover + .tooltip-content {
    opacity: 1;
    visibility: visible;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-block-start: 3rem;
    color: #515151;
}

footer a {
    text-decoration: none;
    color: #515151;
}

#weird-bubba {
    width: auto;
    height: calc(16px + .5vw);
    margin-right: 4px;
}

a {
    color: var(--primary);
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-decoration-color: var(--accent);
    text-underline-offset: 2px;
    text-decoration-skip-ink: all;
    pointer-events: auto;
    cursor: pointer;
    transition: opacity 0.2s ease;
}

@media (hover:hover) and (pointer:fine) {
    a:hover {
        opacity: .6;
    }
}

a:focus-visible,
button:focus-visible,
[role="button"]:focus-visible,
input:focus-visible {
    border-radius: 1rem;
    outline: 3px solid var(--highlight);
    outline-offset: 3px;
}

body.utility {
    padding: 0;
    font-size: calc(var(--base) * .85);
}

body.utility main {
    align-items: center;
    min-height: 100vh;
    min-height: 100dvh;
}